<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<body>

<div th:fragment="categoryStatistics">


    <div class="col-sm-10">
        <ol class="breadcrumb">
            <li class="active">数据分析
            </li>
            <li class="active">菜品类目统计
            </li>
        </ol>
        <input type="hidden" th:value="${nameListData}" id="nameListData">
        <input type="hidden" th:value="${qtyListData}" id="qtyListData">

        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="main" style="width: 1300px;height:600px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            //初始化数据
            var nameListData = eval(document.getElementById('nameListData').value);
            var qtyListData = eval(document.getElementById('qtyListData').value);

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '菜品类目统计'
                },
                tooltip: {},
                legend: {
                    data: ['该类型库存数']
                },
                xAxis: {
                    data: nameListData
                },
                yAxis: {},
                series: [{
                    name: '该类型库存数',
                    type: 'bar',
                    data: qtyListData
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
    </div>


</div>
</body>
