/*变化样式*/
@keyframes img-move {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.2)
    }
}

@keyframes img-leave {
    from {
        transform: scale(1.2)
    }

    to {
        transform: scale(1)
    }
}

body {
    background-color: #efefef;
}

.main{
    background-color: white;
    /*边距*/
    margin: 0px 300px;
}


.font-locatin{
    text-align:center;
}

.p-slogan{
    text-align:center;
    margin-top: 200px;
    padding-bottom: 100px;
    /*文本阴影*/
    text-shadow: 5px 5px 5px #3388FF;
}

.bg{
    background-size:cover;
}

.list-item{
    height: 100px;
    /*font-size: -webkit-xxx-large;*/
    font-size: x-large;
}

.footer{
    padding: 30px 0 10px;
    font-size: 12px;
    text-align: center;
}

.bgBlack{
    background-color: black;
}

.bgWhile{
    background-color: white;
}

.bgBlue{
    background-color: #00FFFF;
}

.test{
    color: mediumpurple;
}

.p-tip{
    margin-left: 600px;
    margin-top: 200px;
    margin-bottom: 200px;
}



.pad-20{
    padding: 20px;
}

.phone-page {
    width: 800px;
    margin: auto;
    padding: 100px;
}

.m-l-30{
    margin-left: 30px;
}

.m-top-30{
    margin-top: 30px;
}

.nav .active{color: #cfb2f6;}

box-btn{padding-left: 52px;}



