<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>投诉或建议</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/myjs.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <!--左边-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 投诉或建议</h2>
            <hr>
            <form action="/advise/submit" method="post">
                <div class="form-group">
                    <label for="title">标题（简单扼要）</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           autocomplete="off"
                           placeholder="标题...">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="title">补充（必填，请参照右侧提示）:</label>
                    <textarea th:value="${title}" id="description" name="description" class="form-control"
                              cols="30"  rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="advise_type" >类型</label>
                    <select class="form-control" id="advise_type" name="advise_type">
                        <option>建议</option>
                        <option>投诉</option>
                    </select>
                </div>
                    <button type="submit" class="btn btn-success btn-advise" >提交</button>

            </form>
        </div>
        <!--右边-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>用户建议指南</h3>
            ·建议或投诉标题：<br><br>请用精简的语言描述您提交的建议或投诉，不能超过25字<br>
            ·建议或投诉补充：<br><br>详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料（待实现）<br>
            ·选择类型：<br><br>请选择是建议还是投诉<br>
        </div>

    </div>
</div>

<div th:insert="~{footer::foot}"></div>

</body>
</html>