<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <title>图书管理系统(管理端）</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/manage.js" type="application/javascript"></script>
    <script src="/js/echarts.min.js"></script>

</head>

<body style="height: 100%; margin: 0">

<!--导航栏-->
<div th:insert="~{navigation-manage::nav}"></div>


<input type="hidden" th:value="${foodIdListData}" id="foodIdListData">
<input type="hidden" th:value="${qtyListData}" id="qtyListData">


<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1500px;height:600px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    //初始化数据
    var foodIdListData=eval(document.getElementById('foodIdListData').value);
    var qtyListData =eval(document.getElementById('qtyListData').value);

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '最受欢迎菜品排行'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: foodIdListData
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: qtyListData
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>








<!--页尾-->
<div th:insert="~{footer::foot}"></div>
</body>
</html>