<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <title>中小型餐厅预订系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/manage.js" type="application/javascript"></script>
    <script src="/js/echarts.min.js"></script>

</head>

<body style="height: 100%; margin: 0">

<!--导航栏-->
<div th:insert="~{navigation-manage::nav}"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-home"></span>数据分析
            </a>
            <!-- 小图标样式设置 -->
            <a href="/analysis/food" th:class="${section.equals('food')?'list-group-item active':'list-group-item'}">
                <span class="glyphicon glyphicon-book" aria-hidden="true">
                    </span>最受欢迎菜品排行</a>
            <a href="/analysis/user" th:class="${section.equals('user')?'list-group-item active':'list-group-item'}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>点餐最多顾客排行</a>
            <a href="/analysis/seat" th:class="${section.equals('seat')?'list-group-item active':'list-group-item'}">
                        <span class="glyphicon glyphicon-print" aria-hidden="true">
                    </span>最受欢迎餐台排行</a>
            <a href="/analysis/category" th:class="${section.equals('category')?'list-group-item active':'list-group-item'}">
                        <span class="glyphicon  glyphicon-th-list" aria-hidden="true">
                    </span>菜品类目统计</a>

        </div>
        <!--右边内容栏-->
        <!--最受欢迎菜品排行-->
        <div th:if="${section=='food'}">
            <div th:insert="~{analysis/foodRank::foodRank}"></div>
        </div>
        <!--点餐最多顾客排行-->
        <div th:if="${section=='user'}">
            <div th:insert="~{analysis/userRank::userRank}"></div>
        </div>
        <!--最受欢迎餐台排行-->
        <div th:if="${section=='seat'}">
            <div th:insert="~{analysis/seatRank::seatRank}"></div>
        </div>
        <!--菜品类目统计-->
        <div th:if="${section=='category'}">
            <div th:insert="~{analysis/categoryStatistics::categoryStatistics}"></div>
        </div>


    </div>
</div>


<!--页尾-->
<div th:insert="~{footer::foot}"></div>
</body>
</html>