<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="下单历史"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/profile.js"></script>

</head>
<body>

<!--导航栏-->
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">

    <div th:insert="~{main-nav::main-nav}"></div>

    <!--下单历史-->
    <h2><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 下单历史</h2>
    <hr>
    <!--历史订单-->
    <div class="media col-xs-12 col-md-12">

        <!--列表展示-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered ">
                <thead>
                <tr>
                    <th>下单时间</th>
                    <th>订单总额</th>
                    <th>预约时间</th>
                    <th>餐台位置</th>
                    <th>订单内容</th>
                    <th>订单状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="historyDTO:${pageDTO.getDataDTOS()}">
                    <td><span th:text="${#dates.format(historyDTO.buyTime,'yyyy-MM-dd HH:mm')}"></span></td>
                    <td><span th:text="${historyDTO.amount}"></span>元</td>
                    <td><span th:text="${historyDTO.orderTime}"></span></td>
                    <td><span th:text="${historyDTO.location}"></span></td>
                    <td><span th:text="${historyDTO.content}"></span></td>
                    <td><span th:text="${historyDTO.orderStatus}"></span></td>
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/profile/history/details/(basketId=${historyDTO.basketId})}" class="btn btn-info">查看详情</a>
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <!--分页-->
        <ul class="pagination" style="float: right;">
            <li th:if="${pageDTO.showFirst}">
                <a th:href="@{/profile/history}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:if="${pageDTO.showPre}">
                <a th:href="@{/profile/history/(page=${pageDTO.currentPage - 1},search=${search})}" aria-label="Pre">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each=" page: ${pageDTO.pages}" th:class="${pageDTO.currentPage==page}?'active':''"><a th:href="@{/profile/history/(page=${page},search=${search})}" th:text="${page}" ></a></li>

            <li th:if="${pageDTO.showNext}">
                <a th:href="@{/profile/history/(page=${pageDTO.currentPage+1},search=${search})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pageDTO.showEnd}">
                <a th:href="@{/profile/history/(page=${pageDTO.totalPage},search=${search})}" aria-label="End">
                    <span aria-hidden="true">&raquo;</span>
                </a>

            </li>
        </ul>

    </div>
    </div>


<!--页尾-->
<div th:insert="~{footer::foot}"></div>

</body>
</html>