<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="main-nav">

    <ul class="nav nav-pills nav-justified pad-20" >
        <li role="presentation" ><a href="/food" th:class="${nav.equals('food')?'active':''}">菜品分类</a></li>
        <li role="presentation" ><a href="/profile" th:class="${nav.equals('profile')?'active':''}">个人中心</a></li>
        <li role="presentation" ><a href="/basket" th:class="${nav.equals('basket')?'active':''}">已选菜单</a></li>
        <li role="presentation"><a href="/advise" th:class="${nav.equals('advise')?'active':''}">提出建议</a></li>
    </ul>



</div>
</body>
