<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="main-nav">

    <ul class="nav nav-pills nav-justified pad-20" >
        <li role="presentation" ><a href="/food" th:class="${nav.equals('food')?'active':''}">菜品分类</a></li>
        <li role="presentation" ><a href="/profile" th:class="${nav.equals('profile')?'active':''}">个人中心</a></li>
        <li role="presentation"><a href="/about" th:class="${nav.equals('about')?'active':''}">关于本馆</a></li>
    </ul>



</div>
</body>
