<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>中小型餐厅预订系统(管理端）</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/manage.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

</head>

<body>

<!--导航栏-->
<div th:insert="~{navigation-manage::nav}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-xs-2 col-md-2">
            <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-home"></span>管理中心
            </a>
            <!-- 小图标样式设置 -->
            <a href="/manage" th:class="${section.equals('order')?'list-group-item active':'list-group-item'}">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true">
                    </span>订单管理</a>
            <div th:if="${session.admin.getLevel()>2}">
            <a href="/manage/menu" th:class="${section.equals('menu')?'list-group-item active':'list-group-item'}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true">
                    </span>菜单管理</a>
            <a href="/manage/seat" th:class="${section.equals('seat')?'list-group-item active':'list-group-item'}">
                        <span class="glyphicon  glyphicon-print" aria-hidden="true">
                    </span>餐台管理</a>
            </div>
            <div th:if="${session.admin.getLevel()>3}">
            <a href="/manage/customer" th:class="${section.equals('customer')?'list-group-item active':'list-group-item'}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>用户管理</a>
            </div>

            <div th:if="${session.admin.getLevel()==10}">
                <a href="/manage/admin" th:class="${section.equals('admin')?'list-group-item active':'list-group-item'}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>管理员管理</a>
            </div>

        </div>
        <!--右边内容栏-->
        <!--订单管理-->
        <div th:if="${section=='order'}">
        <div th:insert="~{manage/order::order}"></div>
        </div>
        <!--菜单管理-->
        <div th:if="${section=='menu'}">
        <div th:insert="~{manage/menu::menu}"></div>
        </div>
        <!--餐台管理-->
        <div th:if="${section=='seat'}">
            <div th:insert="~{manage/seat::seat}"></div>
        </div>
        <!--用户管理-->
        <div th:if="${section=='customer'}">
            <div th:insert="~{manage/customer::customer}"></div>
        </div>
        <!--管理员管理-->
        <div th:if="${section=='admin'&&session.admin.getLevel()==10}">
            <div th:insert="~{manage/admin::admin}"></div>
        </div>

    </div>
</div>


<!--页尾-->
<div th:insert="~{footer::foot}"></div>
</body>
</html>