<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="menu">

        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">管理中心
                </li>
                <li class="active">菜单管理
                </li>
            </ol>

            <div id="accordion" class="panel panel-default ">
                <!--搜索-->
                <div class="collapsed card-link panel-heading" data-toggle="collapse" href="#collapse1" >
                    搜索
                </div>
                <div id="collapse1" class="collapse" data-parent="#accordion">

                <div class="panel-body">
                    <form role="form" class="form-inline" action="/admin_search_food" method="post">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称">
                        </div>
                        <div class="form-group">
                            <label for="status">状态</label>
                            <select class="form-control" id="status" name="status">
                                <option>全部</option>
                                <option>上架</option>
                                <option>下架</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type">类型</label>
                            <select class="form-control" id="type" name="type">
                                <option>全部</option>
                                <option>饮料</option>
                                <option>炒菜</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
                </div>

                <!--上新-->
                <div class="collapsed card-link panel-heading" data-toggle="collapse" href="#collapse2">
                    上新
                </div>
                <div id="collapse2" class="collapse" data-parent="#accordion">
                <div class="panel-body">
                    <form role="form" class="form-inline" action="/upload" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="food_name">食物名称</label>
                            <input type="text" class="form-control" id="food_name" name="food_name"  placeholder="请输入名称">
                        </div>
                        <div class="form-group">
                            <label for="price">食物价格</label>
                            <input type="text" class="form-control" id="price" name="price"  placeholder="请输入价格 份/元">
                        </div>
                        <div class="form-group">
                            <label for="status" >状态</label>
                            <select class="form-control" id="food_status" name="food_status">
                                <option>上架</option>
                                <option>下架</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type">类型</label>
                            <select class="form-control" id="food_type" name="food_type">
                                <option>饮料</option>
                                <option>炒菜</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >食物图片</label>
                            <input type="file" class="form-control" name="food_pic">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">上传</button>
                        </div>
                    </form>
                </div>
                </div>

            </div>





            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>食物编号</th>
                        <th>食物名称</th>
                        <th>食物价格</th>
                        <th>食物类型</th>
                        <th>食物状态</th>
                        <th>食物图片</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="foodDTO:${pageDTO.getDataDTOS()}">
                        <td><span th:text="${foodDTO.foodId}"></span></td>
                        <td><span th:text="${foodDTO.foodName}"></span></td>
                        <td><span th:text="${foodDTO.price}"></span>元</td>
                        <td><span th:text="${foodDTO.type}"></span></td>
                        <td><span th:text="${foodDTO.status}"></span></td>
                        <td>
                            <img src="${foodDTO.foodUrl}" class="img-thumbnail" style="height: 30px;" />
                        </td>
                        <td>
                            <div class="btn-group">
                                <a th:href="@{/manage/menu/toUp/(foodId=${foodDTO.foodId})}" class="btn btn-success"  >上架</a>
                                <a th:href="@{/manage/menu/toDown/(foodId=${foodDTO.foodId})}" class="btn btn-info" >下架</a>
                                <a th:href="@{/manage/menu/delete/(foodId=${foodDTO.foodId})}" class="btn btn-danger" >删除</a>
                            </div>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <!--分页-->
            <ul class="pagination" style="float: right;">
                <li th:if="${pageDTO.showFirst}">
                    <a th:href="@{/manage/(page=1,search=${search})}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:if="${pageDTO.showPre}">
                    <a th:href="@{/manage/(page=${pageDTO.currentPage - 1},search=${search})}" aria-label="Pre">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li th:each=" page: ${pageDTO.pages}" th:class="${pageDTO.currentPage==page}?'active':''"><a th:href="@{/manage/(page=${page},search=${search})}" th:text="${page}" ></a></li>

                <li th:if="${pageDTO.showNext}">
                    <a th:href="@{/manage/(page=${pageDTO.currentPage+1},search=${search})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li th:if="${pageDTO.showEnd}">
                    <a th:href="@{/manage/(page=${pageDTO.totalPage},search=${search})}" aria-label="End">
                        <span aria-hidden="true">&raquo;</span>
                    </a>

                </li>
            </ul>

        </div>

</div>
</body>
