<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" >
            <div class="navbar-header">
                <a class="navbar-brand" href="/">中小型餐厅预订系统</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav nav-pills navbar-left">
                    <li class="dropdown" role="presentation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" >
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>管理中心
                            <!--下拉小箭头-->
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="/manage">订单管理</a></li>
                            <li th:if="${session.admin.getLevel()>2}"><a href="/manage/menu">菜单管理</a></li>
                            <li th:if="${session.admin.getLevel()>2}"><a href="/manage/seat">餐台管理</a></li>
                            <li th:if="${session.admin.getLevel()>3}"><a href="/manage/customer">用户管理</a></li>
                            <li><a href="/manage/tradition">传统下单</a></li>
                        </ul>
                    </li>

                    <li th:if="${session.admin.getLevel()>4}" class="dropdown" role="presentation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" >
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>设计中心
                            <!--下拉小箭头-->
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="/manage-me">更换背景</a></li>
                        </ul>
                    </li>

                    <li th:if="${session.admin.getLevel()>5}" class="dropdown" role="presentation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" >
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>数据分析
                            <!--下拉小箭头-->
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="/analysis/food">最受欢迎菜品排行</a></li>
                            <li><a href="/analysis/user">点餐最多顾客排行</a></li>
                            <li><a href="/analysis/category">菜品类目统计</a></li>
                        </ul>
                    </li>


                </ul>


                <ul class="nav navbar-nav navbar-right">

                    <!--检测session是否存在admin-->
                    <li class="dropdown" th:if="${session.admin!=null}">
                        <!--获取存在session中的管理员名称-->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" >
                            <span th:text="${session.admin.getAdminName()}"></span>
                            <!--下拉小箭头-->
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="#">管理员资料</a></li>
                            <li><a href="#">操作手册</a></li>
                            <li><a href="/basket">已选菜品</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <!--当没有session的时候，显示登录注册按钮，隐藏个人信息-->
                    <li th:if="${session.admin==null}">
                        <a href="/login/admin">登录</a>
                    </li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

        <div>

        </div>
    </nav>

</div>

</body>