<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="个人中心"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>
<body>

<!--导航栏-->
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">

    <div th:insert="~{main-nav::main-nav}"></div>


    <!--个人中心-->
    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 个人中心</h2>
    <hr>
    <!--个人资料-->
    <div class="media col-xs-12 col-md-12">
        <ul class="list-group">
            <li class="list-group-item"><b>会员姓名：</b><span th:text="${userDTO.userName}"></span> <a class="navbar-right m-r-30" href="/profile/changeName">点击修改</a></li>
            <li class="list-group-item"><b>注册时间：</b><span th:text="${#dates.format(userDTO.gmtCreate,'yyyy-MM-dd hh:mm')}"></span></li>
            <li class="list-group-item"><b>联系号码：</b>
                <span th:if="${userDTO.phone==null}"><a href="/profile/phone">点击绑定</a></span>
                <span th:if="${userDTO.phone!=null}" th:text="${userDTO.phone}"></span>  <a class="navbar-right m-r-30" href="/profile/changePhone">点击修改</a></li>
            <li class="list-group-item"><b>登录密码：</b><span>建议您定期更换密码，设置一个包含字母，符号或数字中至少两项且长度超过6位的密码。</span> <a class="navbar-right m-r-30" href="/profile/changePassword">点击修改</a></li>

            <!--<li class="list-group-item"><a href="/profile/history">下单历史：</a><span th:text="${userDTO.history}"></span><br></li>-->
        </ul>

    </div>
    </div>

<div th:insert="~{footer::foot}"></div>

</body>
</html>